@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3A0519;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container-header {
  max-width: 100% !important;
  height: 800px;
  width: 100vw;
}

.bubbles {
  width: 100%;
  display: flex;
}

.bubbles span {
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  border-radius: 50%;
  margin: 0 4px;
  border: 4px solid var(--background);
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(200s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #B6F500;
  box-shadow: 0 0 0 10px #FFFADC, 0 0 50px #B6F500, 0 0 100px #B6F500;
}

@keyframes animate {
  0% {
    transform: translateY(98vh) scale(0);
  }
  25% {
    transform: translateY(-50vh) scale(0.5);
  }
  50% {
    transform: translateY(0vh) scale(1);
  }
  75% {
    transform: translateY(50vh) scale(0.5);
  }
  100% {
    transform: translateY(-98vh) scale(0);
  }
}

.heading h1{
  font-size: 4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 3s steps(30), blink .7s infinite;
}

.img-shadow{
  filter: drop-shadow(25px 25px 25px #fff);
}

@keyframes dispel {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
    filter: blur(4px);
  }
}

.animate-dispel {
  animation: dispel 0.5s ease-out forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 2s ease-out forwards;
}