@import "tailwindcss";

:root {
  --background: #040331;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3A0519;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.container-header {
  max-width: 100% !important;
  height: 800px;
  width: 100vw;
}

.bubbles {
  width: 100%;
  display: flex;
}

.bubbles span {
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  border-radius: 50%;
  margin: 0 4px;
  border: 4px solid var(--background);
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(200s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #B6F500;
  box-shadow: 0 0 0 10px #FFFADC, 0 0 50px #B6F500, 0 0 100px #B6F500;
}

@keyframes animate {
  0% {
    transform: translateY(98vh) scale(0);
  }
  25% {
    transform: translateY(-50vh) scale(0.5);
  }
  50% {
    transform: translateY(0vh) scale(1);
  }
  75% {
    transform: translateY(50vh) scale(0.5);
  }
  100% {
    transform: translateY(-98vh) scale(0);
  }
}

.heading h1{
  font-size: 4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 3s steps(30), blink .7s infinite;
}

.img-shadow{
  filter: drop-shadow(25px 25px 25px #fff);
}

@keyframes dispel {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
    filter: blur(4px);
  }
}

.animate-dispel {
  animation: dispel 0.5s ease-out forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 2s ease-out forwards;
}


.swiper-wrapper{
  display: flex;
  align-items: center;
}



.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 25rem !important;
  height: 33rem !important;
  position: relative;
  /* border: 4px solid rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  transition: transform 0.4s ease-out; 
  /* Sets the anchor point for the transform */
  transform-origin: bottom center;
  margin: 10px;
  /* ✨ Add the transition property here ✨ */
  transition: all 0.6s ease-in-out;
}

.swiper-slide-active{
  height: 38rem !important;
  /* transform: scale(1.1); */
}


@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 20rem !important;
    height: 28rem !important;
  }
}

.swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow {
  font-size: 2rem;
  color: #ffffff;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(250, 251, 255, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.project-description{
  margin: 5rem 0;
  width: 40rem;
  text-align: justify;
  font-size: 1.1rem;
  border: 2px solid #ededed;
  padding: 20px;
  border-radius: 15px;
}

.chat-container{
  width: 800px;
}